@model IEnumerable<GameDrop.Models.GameDrop_Order>

@{
    ViewData["Title"] = "Manage Orders";
}

<h2>Manage Orders</h2>

@foreach (var order in Model) {
    <a asp-action="OrderSummary" asp-route-id="@order.OrderId" class="text-decoration-none">
        <div class="card card-body mb-3">
            <div class="row">
                <div class="col">
                    <h4>Order ID: @order.OrderId</h4>
                    <p>Order Date: @order.OrderDate</p>
                    <p>Order Status: @order.OrderStatus</p>
                </div>
                <div class="col-4">
                    <h4 class="mb-0 text-end">Total: ฿@ViewBag.TotalAmount</h4>
                </div>
                <div class="col-2 col-sm-1 justify-content-end">
                    <span class="material-symbols-rounded">
                        arrow_forward_ios
                    </span>
                </div>
            </div>
        </div>
    </a>
} 