@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Credit";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Credit</h5>
        <p class="card-text">This is a final assignment of university project created by ...</p>
    </div>
    <div class="card-footer">
        <a href="https://github.com/HugeKC01/GameDrop" class="btn btn-primary" style="background-color:black; color:white; border-color:black;">GitHub</a>
    </div>
</div>
